desktop-base-width     = 1200px
rupture.desktop-cutoff = $tablet = 1280px
rupture.mobile-cutoff  = $mobile = 768px
rupture.anti-overlap   = -1px

$azul        = #61DFFF
$cinza       = #333333
$verdeClaro  = #66FFCC
$verdeEscuro = #71D6C0

@import 'https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,700,700i';
ubuntu($size, $weight = normal, $style = normal)
    font-size $size + 0px
    font-family 'Ubuntu', 'Helvetica', 'Arial', sans-serif
    font-weight 400
    font-style $style
    if $weight == light
        font-weight 300
    if $weight == bold
        font-weight 700
