.avisos
    .texto
        width 100% !important
    .aviso
        padding 18px 0
        border-bottom 1px solid #cccccc
        display table
        width 100%
        &:first-child
            border-top 1px solid #cccccc
        > div
            display table-cell
            vertical-align middle
        +mobile()
            display block
            > div
                display block
                width 100% !important
        .categoria
            width 280px
            +tablet()
                width 240px
            +mobile()
                margin-bottom 15px
            img
                margin 0 15px 0 0 !important
                display inline-block !important
                vertical-align middle
                +below($tablet)
                    width 50px
            span
                display inline-block
                vertical-align middle
                ubuntu 22 bold
                text-transform uppercase
                color $azul
                +tablet()
                    font-size 17px
                +mobile()
                    font-size 16px
        .data
            text-align right
            width 75px
            ubuntu 10 normal italic
            +mobile()
                text-align left
                width 100%
                margin-top 10px
                br
                    display none
