.como-chegar
    margin-bottom 0 !important
    > .center
        clearfix()
    .mapa
        width 100%
        margin-top 30px
        height 450px
        position relative
        +tablet()
            height 320px
        +mobile()
            height 280px
        iframe
            width 100%
            height 100%
            display block
