.cursos-intensivos
    h3
        margin-bottom 1.2em !important
    .texto
        width 100% !important
    .curso
        background #E6E6E6
        margin-bottom 20px
        clearfix()
        display flex
        flex-wrap wrap
        .left
            padding 10px
            width 68%
            float left
            img
                display block
                float left
                width 45%
                margin 0 !important
            > div
                width 52%
                float right
                margin-top 10px
                h4
                    margin 0 0 .3em
                    ubuntu 20 bold italic
            +mobile()
                width 100%
                img
                    max-width 100%
                    width auto
                > div
                    clear left
                    width 100%
        .right
            width 32%
            float right
            background #6BB9AB
            padding 20px
            +mobile()
                width 100%
            h4
                margin 0 0 .3em
                ubuntu 20 bold italic
                color #fff
                .mobile
                    display none
                    +mobile()
                        display inline-block
        .chamada
            width 100%
            float left
            clear both
            display block
            ubuntu 16 bold italic
            padding 4px 10px
            padding-right 30px
            background $img('seta-mais.png') no-repeat 99% center $verdeEscuro
            text-align right
            transition background .3s
            color #000
            &:hover
                background-color $azul
    .chamada-regulares
        height 250px
        width 250px
        display block
        margin-top 30px
        text-align right
        color #000
        float right
        margin-right 60px
        ubuntu 20 regular italic
        &:hover
            color darken($verdeEscuro, 20)
        p
            margin 0
            position relative
            top 50%
            transform translateY(-50%)
        +tablet()
            margin-right 40px
            width 180px
            font-size 18px
        +mobile()
            width 80%
            margin 0
            float none
            text-align left
            font-size 17px
            height auto
            p
                top 0
                transform none
    .chamada-grade
        display block
        width 250px
        height 250px
        margin-top 30px
        border-radius 100%
        padding 20px
        text-align center
        background $azul
        color #000
        float right
        transition background .3s, color .3s
        text-transform uppercase
        ubuntu 15
        +mobile()
            float none
            margin-bottom 20px
        &:hover
            background #000
            color #fff
        > div
            position relative
            top 50%
            transform translateY(-50%)
        span
            display block
            ubuntu 22 bold
