.cursos-regulares
    h3
        margin-bottom 1.2em !important
    .chamada-grade
        display block
        width 250px
        height 250px
        margin-top 30px
        background #000
        border-radius 100%
        padding 20px
        text-align center
        color #fff
        transition background .3s, color .3s
        text-transform uppercase
        ubuntu 15
        &:hover
            background $azul
            color #000
        > div
            position relative
            top 50%
            transform translateY(-50%)
        span
            display block
            ubuntu 22 bold
