.enquetes
    position relative
    .erro
        display inline-block
        background rgba(#FF1D12, .12)
        color #FF1D12
        ubuntu 12
        text-transform uppercase
        padding 15px 20px
        margin-bottom 15px
    .sucesso
        display inline-block
        background rgba($verdeClaro, .12)
        color darken($verdeEscuro, 5)
        ubuntu 14
        text-transform uppercase
        padding 15px 20px
        margin-bottom 15px
    .enquete-ativa
        border-top 2px solid #E6E6E6
        display flex
        flex-wrap wrap
        + .enquete-historico
            margin-top 25px
        .titulo
            width 200px
            background $azul
            padding 40px 20px
            h1
                ubuntu 20
                color #fff
                margin 0 0 1.2em
                span
                    display inline-block
                    width 60px
                    text-align center
                    position relative
                    margin-left 5px
                    &:after
                        content ''
                        position absolute
                        width 60px
                        height 60px
                        background $img('enquete.png') no-repeat center
                        left 50%
                        top 50%
                        transform translateX(-50%) translateY(-50%)
            .data
                ubuntu 11 normal italic
                color #808080
            +mobile()
                width 100%
                padding 40px 20px 20px
        #form-enquete
            padding 25px 25px 0
            flex 1 1
            h2
                ubuntu 28
                color $verdeEscuro
                margin 0 0 15px
            +mobile()
                padding 25px 0 0
                h2
                    font-size 24px
            label
                display block
                min-height 16px
                position relative
                padding-left 30px
                ubuntu 16
                color #808080
                cursor pointer
                input
                    display none
                    visibility hidden
                    &:checked + .radio
                        border-color $verdeEscuro
                        &:after
                            opacity 1
                    &:checked + .radio + span
                        color #000
                .radio
                    display block
                    position absolute
                    top 0
                    left 0
                    border 2px solid #B3B3B3
                    border-radius 100%
                    width 18px
                    height 18px
                    &:after
                        content ''
                        position absolute
                        top 50%
                        left 50%
                        width 4px
                        height 4px
                        margin-top -2px
                        margin-left -2px
                        background $verdeEscuro
                        border-radius 100%
                        opacity 0
                + label
                    margin-top 15px
            input[type=submit]
                ubuntu 20 bold
                color #808080
                display inline-block
                height 40px
                width 160px
                line-height 1
                border 0
                outline 0
                background $azul
                cursor pointer
                transition background .3s
                margin-top 40px
                &:hover
                    background $verdeClaro
                +mobile()
                    width 130px
                    font-size 18px
                    margin-top 30px
            a
                display inline-block
                height 40px
                line-height 40px
                ubuntu 14
                color #808080
                margin-left 15px
                &:hover
                    color #000
        .resultados
            background #E6E6E6
            padding 25px
            flex 1 1
            h3
                ubuntu 20 bold
                margin 0 0 22px
                color #6BB9AB
            +mobile()
                padding 20px
                h3
                    font-size 18px
                    margin-bottom 20px
            .porcentagem
                display block
                + .porcentagem
                    margin-top 20px
                .barra
                    width 100%
                    height 10px
                    position relative
                    background #CCCCCC
                    div
                        position absolute
                        height 100%
                        background $azul
                p
                    margin 5px 0 0
                    ubuntu 14
                    color #666
                    span
                        font-weight 700
    .enquete-historico
        border-top 2px solid #E6E6E6
        font-size 0
        display flex
        flex-wrap wrap
        a
            display block
            border-bottom 2px solid #E6E6E6
            width calc('50% - 15px')
            margin-right 30px
            padding 15px 5px 20px
            transition background .3s
            +mobile()
                width 100%
                margin-right 0
            &:hover
                background #E6E6E6
            &:nth-child(2n)
                margin-right 0
            clearfix()
            span
                display block
                ubuntu 11 normal italic
                color #808080
                width 80px
                float left
                padding-top 2px
                transition color .3s
                + span
                    ubuntu 16
                    padding-top 0
                    width calc('100% - 80px')

.enquetes-lightbox
    width 500px
    padding 40px
    +mobile()
        width 100%
        max-width 500px
        padding 25px
    h3
        margin 0
        ubuntu 14
        color #808080
    form
        font-size 0
        h3
            margin-bottom 12px
        input[type=email]
            vertical-align top
            width calc('100% - 150px')
            height 36px
            border 0
            outline 0
            background #E6E6E6
            ubuntu 14 normal italic
            padding 0 8px
            color #000
            margin-right 5px
            +placeholder()
                color #000
        input[type=submit]
            vertical-align top
            width 145px
            height 36px
            border 0
            outline 0
            ubuntu 13 bold
            text-transform uppercase
            background #666666
            color $verdeClaro
            transition background .3s
            &:hover
                background $cinza
