.estabelecimentos
    .texto
        width 100% !important
    .estabelecimento
        background #E6E6E6
        padding 10px
        margin-bottom 20px
        clearfix()
        img
            margin 0 !important
            float left
            width 200px
            height auto
            +mobile()
                width 160px
        .descricao
            width calc('100% - 225px')
            float right
            padding 10px 0 0
            +mobile()
                width 100%
                clear left
            h4
                ubuntu 20 bold italic
                margin 0 0 .3em
                +mobile()
                    font-size 17px
            a
                display block
                font-weight bold
                &:hover
                    color darken($verdeEscuro, 20)
