.eventos
    .texto
        width 100% !important
    .evento
        border-bottom 1px solid $azul
        padding 20px 0
        clearfix()
        &:first-child
            padding-top 0
        .data
            width 160px
            height 160px
            background #000
            float left
            border-radius 100%
            color #fff
            div
                position relative
                top 50%
                text-align center
                transform translateY(-50%)
                line-height 1.1
            span
                display block
            .dia
                ubuntu 38 bold
                margin-top -5px
            .mes
                ubuntu 22
                text-transform uppercase
            .ano
                ubuntu 12
            .semana
                ubuntu 16 bold
                text-transform uppercase
                position relative
                padding-top 18px
                &:after
                    content ''
                    position absolute
                    top 9px
                    left 50%
                    height 1px
                    width 48px
                    margin-left -24px
                    background #fff
        .descricao
            width calc('100% - 195px')
            float right
            padding-top 20px
            .titulo
                ubuntu 18
            +mobile()
                width 100%
                .titulo
                    font-size 17px
