.fale-conosco
    .texto
        width 44.2% !important
        +below($tablet)
            width 100% !important
            margin-bottom 12px !important
    .imagens-laterais
        width 52.6% !important
        +below($tablet)
            width 100% !important
    .telefones
        font-size 0
        margin-bottom 8px
        p
            display block
            margin 0
            ubuntu 20 bold
            span
                ubuntu 14 bold
    .atendimento
        ubuntu 16 normal italic
        margin-top 1em

.contato-formulario
    clear both
    margin-top 40px
    float left
    clearfix()
    +mobile()
        margin-top 25px
    h3
        color #6DBAAC
        margin 0 0 1em
        font-family 'Ubuntu', 'Helvetica', 'Arial', sans-serif
        font-size 20px !important
        font-style italic !important
        font-weight 700 !important
        +mobile()
            font-size 17px !important
    .left
        width 44.2%
        float left
        +mobile()
            width 100%
    .right
        width 52.6%
        float right
        +mobile()
            width 100%
    input
    select
    textarea
        width 100%
        border 0
        outline 0
        background #E6E6E6
        ubuntu 14 normal italic
        margin-bottom 3px
        padding 0 8px
        height 30px
        color #000
        +placeholder()
            color #000
    textarea
        display block
        height 180px
        resize none
        padding 8px
    #form-contato-response
        display none
        background darken($verdeEscuro, 10)
        margin 6px 0
        padding 14px
        ubuntu 14 bold
        text-transform uppercase
        color #fff
        text-align center
    input[type='submit']
        width auto
        float right
        padding 4px 24px
        text-transform uppercase
        ubuntu 14 bold
        background #666666
        color $verdeClaro
        transition background .3s
        margin-top 4px
        &:hover
            background $cinza
