.grade-de-aulas
    .texto
        width 100% !important
        .filtro
            background #E6E6E6
            border 1px solid $azul
            width 480px
            height 32px
            float left
            position relative
            label
                line-height 32px
                ubuntu 16 bold italic
                padding-left 8px
            select
                position absolute
                top 0
                right 0
                bottom 0
                border 0
                outline 0
                width 250px
                background $azul
                -webkit-appearance menulist-button
                line-height 30px
                ubuntu 14 normal italic
            +mobile()
                width 100%
                border none
                background transparent
                label
                    display none
                select
                    left 0
                    width 100%
    .grade-tabela
        float left
        clear left
        width 100%
        margin-top 40px
        text-align center
        +mobile()
            margin-top 0
        .link-intensivos
            display inline-block
            margin-top 50px
            background $azul
            padding 8px 25px
            ubuntu 20 bold italic
            color #000
            text-transform uppercase
            transition background .3s
            +mobile()
                margin-top 20px
                padding 8px
                font-size 16px
            &:hover
                background $verdeClaro
        .dia-semana
            width 100%
            background #000
            ubuntu 24 bold italic
            color #fff
            padding 4px 10px
            text-transform uppercase
            margin-top 20px
            &:first-child
                margin-top 0
        .icone-seta
            width 15px
            height 10px
            display inline-block
            background $img('seta-mais.png') no-repeat center
        .icone-info
            width 15px
            height 15px
            display inline-block
            background $img('icone-informacoes.png') no-repeat center
        .icone-homens
        .icone-mulheres
            width 8px
            height 20px
            display inline-block
            vertical-align middle
            margin 2px
        .icone-homens
            background $img('icone-homem.png') no-repeat center
        .icone-mulheres
            background $img('icone-mulher.png') no-repeat center
        +mobile()
            .mobile-wrapper
                width 100%
                overflow-x scroll
        table
            width 100%
            min-width 650px
            thead
                tr
                    background #71D6C0
                    ubuntu 16 bold italic
                    color #fff
                    text-transform uppercase
            td
            th
                padding 6px 8px
                text-align left
                border 1px solid $azul
                &:last-child
                    width 31px
                &:nth-child(1)
                    width 230px
                &:nth-child(2)
                    width 150px
                &:nth-child(3)
                    width 85px
                &:nth-child(4)
                    width 120px
                &:nth-child(5)
                    width 164px
                &:nth-child(6)
                    width 420px
            tbody
                tr
                    background #D3F2EB
                    cursor pointer
                    transition background .3s
                    &:hover
                        background $azul
                td
                    ubuntu 14
                    &:nth-child(6)
                        font-size 11px
    .legenda-niveis
        margin-top 20px
        p
            ubuntu 12
            margin 0 0 3px
            text-align left

.lightbox-wrapper
    background #fff
    clearfix()
    padding 40px
    width 980px
    +below($tablet)
        width auto
        padding 25px
    +mobile()
        padding 20px
    .titulo
        ubuntu 24
        text-transform uppercase
        line-height 1.2
        margin 0
        strong
            margin-right 5px
            font-weight normal
        span
            ubuntu 10
            text-transform none
            &:first-child
                display block
                margin-bottom 5px
            em
                text-transform uppercase
                font-style normal
    .estrutura
        margin 10px 0
        padding 10px 0
        border-top 1px solid $verdeEscuro
        border-bottom 1px solid $verdeEscuro
        ubuntu 14
    .contato-formulario
        margin-top 10px
