.home
    .banners
        height 540px
        position relative
        background #fff
        +below($tablet)
            width 100%
        +tablet()
            height 400px
        +mobile()
            height 300px
        .slide
            position absolute
            top 0
            left 0
            width 100%
            height 100%
            background-size cover
            background-position center
            background-repeat no-repeat
            .wrapper
                padding 154px 5% 0
                position relative
                width 100%
                top 50%
                transform translateY(-50%)
                text-align center
                line-height 1.1
                color #fff
                text-shadow 0 1px 4px rgba(#000, .5)
                h3
                    ubuntu 36 bold
                    margin 0
                p
                    ubuntu 20 normal italic
                    margin 5px 0 0
                +below($tablet)
                    padding-top 0
                +mobile()
                    h3
                        font-size 24px
                    p
                        font-size 17px
        .cycle-pager
            position absolute
            z-index 9999
            bottom 12px
            left 50%
            transform translateX(-50%)
            +mobile()
                display none
            a
                display block
                float left
                width 12px
                height 12px
                border 2px solid #fff
                text-indent -9999px
                border-radius 100%
                margin 0 2px
                transition background .3s
                &.cycle-pager-active
                    background #fff
    .ritmos
        p
            ubuntu 32 light
            text-align center
            margin .6em 0
            color #888888
            +tablet()
                font-size 28px
            +mobile()
                font-size 22px
        div
            clearfix()
            font-size 0
            display flex
            flex-wrap wrap
        a
            display inline-block
            vertical-align top
            ubuntu 14 bold
            color #000
            background $verdeEscuro
            transition background .3s, color .3s
            border-right 1px solid #fff
            border-bottom 1px solid #fff
            width 25%
            padding 8px
            text-align center
            +tablet()
                width 33.333%
            +mobile()
                width 50%
            &:nth-child(3n-1)
                background $azul
            &:nth-child(3n-2)
                background $verdeClaro
            &:hover
                background-color #000
                color $verdeClaro
    .chamadas
        margin 45px auto
        +tablet()
            margin 35px auto
        +mobile()
            margin 25px auto
        .wrapper
            font-size 0
            display flex
            flex-wrap wrap
            a
                display inline-block
                vertical-align middle
                width 25%
                ubuntu 14
                color #666666
                border-left 1px solid $verdeClaro
                padding 10px 40px
                text-align center
                +tablet()
                    width 50%
                    margin-bottom 10px
                    padding 10px 30px
                    &:nth-child(2n)
                        border-right 1px solid $verdeClaro
                &:last-child
                    border-right 1px solid $verdeClaro
                transition background .3s
                +mobile()
                    width 100%
                    border none
                    border-top 1px solid $verdeClaro
                    padding 10px
                    &:last-child
                        border none
                        border-bottom 1px solid $verdeClaro
                        border-top 1px solid $verdeClaro
                p
                    line-height 1.2
                    strong
                        ubuntu 24 bold
                        color darken($verdeEscuro, 10)
                        transition color .3s
                        +mobile()
                            font-size 22px
                &:hover
                    background $azul
                    strong
                        color #fff
    .videos
        background #4D4D4D
        padding 20px 0
        clearfix()
        .video-principal
            width 58.333%
            float left
            +tablet()
                width 75%
            span
                ubuntu 20 light italic
                color #fff
                display block
                margin-top 10px
                +mobile()
                    display none
            +mobile()
                width 100%
                margin-bottom 2%
            .embed-video
                position relative
                padding-bottom 56.25%
                height 0
                overflow hidden
                max-width 100%
                iframe
                    position absolute
                    top 0
                    left 0
                    width 100%
                    height 100%
        .videos-thumbs
            width 40%
            float right
            +tablet()
                width 23%
            .lightbox-video
                display block
                width 100%
                border-bottom 1px solid #fff
                transition background .3s
                margin-bottom 13px
                &:hover
                    background #6BB9AB
                clearfix()
                +tablet()
                    margin-bottom 7.5%
                    border-bottom 0
                img
                    width 45%
                    float left
                    display block
                    +tablet()
                        width 100%
                span
                    display block
                    width 55%
                    float right
                    padding 15px
                    color #fff
                    ubuntu 15
                    +tablet()
                        display none
            .todos
                display block
                background #666666
                padding 4px 12px
                text-align right
                ubuntu 14 bold italic
                text-transform uppercase
                color #fff
                transition background .3s
                &:hover
                    background #6BB9AB
            +mobile()
                width 100%
                > div
                    clearfix()
                .lightbox-video
                    width 32%
                    float left
                    margin-bottom 2%
                    margin-right 2%
                    border none
                    img
                        width 100%
                    span
                        display none
                    &:last-child
                        margin-right 0
                .todos
                    float left
                    display block
                    width 100%
    .hospedagem
        background #4D4D4D
        padding 35px 0
        margin-top 15px
        clearfix()
        h3
            text-align center
            ubuntu 32 light
            color #fff
            margin 0 0 5px
            + p
                ubuntu 16 normal italic
                color #fff
                text-align center
                margin 0 0 30px
        a
            width 32.333%
            margin-right 1.5%
            &:last-child
                margin-right 0
            float left
            display block
            transition background .3s
            &:hover
                background $azul
                p
                    color $cinza
            img
                width 100px
                display block
                float left
            p
                display block
                width calc('100% - 120px')
                float right
                ubuntu 18
                margin 10px 0
                color #fff
                transition color .3s
                line-height 1.2
                span
                    ubuntu 12 normal italic
                    display block
                    margin-top 10px
        +tablet()
            padding 30px 0
            h3
                font-size 28px
                + p
                    font-size 15px
                    margin-bottom 25px
            a
                img
                    width 80px
                p
                    width calc('100% - 100px')
        +mobile()
            padding 25px 0
            h3
                font-size 22px
                + p
                    font-size 14px
                    margin-bottom 20px
            a
                width 100%
                margin 0 0 15px
                img
                    width 60px
                p
                    width calc('100% - 70px')
                &:last-child
                    margin-bottom 0
    .eventos-mural
        background #E6E6E6
        background-image linear-gradient(90deg, #E6E6E6 0%, #E6E6E6 50%, #CCCCCC 50%, #CCCCCC 100%)
        clearfix()
        +below($tablet)
            .center
                width 100%
    .home-eventos
        background #E6E6E6
        padding 30px 0
        width 50%
        padding-right 30px
        float left
        font-size 0
        text-align center
        +below($tablet)
            width 100%
            padding 25px 5%
        h4
            margin 0 0 20px
            ubuntu 20 light
            color #888888
        .evento
            width 160px
            display inline-block
            vertical-align top
            margin 0 16px
            +mobile()
                width 100%
                display block
                clearfix()
                margin 0 0 20px !important
            &:first-child
                margin-left 0
            &:last-child
                margin-right 0
            &:hover .data
                background $azul
            p
                display block
                margin 10px 0 0
                ubuntu 14 normal italic
                color #666666
                text-align center
                text-transform uppercase
                line-height 1.2
                +mobile()
                    width calc('100% - 190px')
                    float right
                    margin 20px 0 10px
                    text-align left
            .data
                width 160px
                height 160px
                background #fff
                border-radius 100%
                color #666666
                transition background .3s
                +mobile()
                    float left
                div
                    position relative
                    top 50%
                    text-align center
                    transform translateY(-50%)
                    line-height 1.1
                span
                    display block
                .dia
                    ubuntu 38 bold
                    margin-top -5px
                .mes
                    ubuntu 22
                    text-transform uppercase
                .ano
                    ubuntu 12
                .semana
                    ubuntu 16 bold
                    text-transform uppercase
                    position relative
                    padding-top 18px
                    &:after
                        content ''
                        position absolute
                        top 9px
                        left 50%
                        height 1px
                        width 48px
                        margin-left -24px
                        background #666666
        .todos
            display block
            background #666666
            padding 4px
            text-align center
            ubuntu 14 bold italic
            text-transform uppercase
            color #fff
            margin-top 25px
            transition background .3s
            &:hover
                background #6BB9AB
    .home-mural
        background #CCCCCC
        padding 30px 0
        width 50%
        padding-left 30px
        float right
        text-align center
        +below($tablet)
            width 100%
            padding 25px 5%
        h4
            margin 0 0 20px
            ubuntu 20 light
        p
            margin 0
            border-top 1px solid #eeeeee
            padding 10px 0
            ubuntu 16
            +mobile()
                font-size 15px
        .todos
            display block
            background #666666
            padding 4px
            text-align center
            ubuntu 14 bold italic
            text-transform uppercase
            color #fff
            margin-top 25px
            transition background .3s
            &:hover
                background #6BB9AB
