.institucional.hospedagem
    .texto
        width 100% !important
    .institucional-content h3
        ubuntu 16 normal italic
        margin -.5em 0 1.5em
    .hospedagem
        border-top 1px solid $azul
        padding 10px 0
        &:last-child
            border-bottom 1px solid $azul
        clearfix()
        img
            margin 0 !important
            float left
            width 200px
            height auto
            +mobile()
                width 160px
        .descricao
            width calc('100% - 225px')
            float right
            font-style italic
            padding 10px 0
            +mobile()
                width 100%
                clear left
            h4
                ubuntu 18
                margin 0 0 .3em
                +mobile()
                    font-size 17px
            a
                display block
                font-weight bold
                &:hover
                    color darken($verdeEscuro, 20)

