.institucional
    clearfix()
    .institucional-aside
        width 18.333%
        float left
        a
            display block
            background $verdeClaro
            color $cinza
            padding 10px 18px
            margin-bottom 2px
            ubuntu 14
            transition background .3s
            &:hover
            &.active
                background $azul
        +mobile()
            width 100%
            margin-bottom 25px
            font-size 0
            a
                display inline-block
                margin-right 3px
                margin-bottom 3px
                padding 8px 12px
    .institucional-content
        width 77.5%
        float right
        +mobile()
            width 100%
        clearfix()
        h2
            ubuntu 32 light
            +tablet()
                font-size 28px
            +mobile()
                font-size 22px
            text-transform uppercase
            color #808080
            margin 0 0 .8em
        h3
            width 100%
            margin 0 0 .8em
            ubuntu 18
            +mobile()
                font-size 17px
        .texto
            width 58%
            float left
            ubuntu 14
            color $cinza
            line-height 1.5
            +mobile()
                width 100%
                margin-bottom 20px
            p:first-child
                margin-top 0
            p:last-child
                margin-bottom 0
            img
                max-width 100%
                display block
                margin 1em 0
            ul
                padding 0
                list-style-type none
                li
                    position relative
                    padding-left .8em
                    margin 4px 0
                    &:before
                        content '\00b7'
                        position absolute
                        top 0
                        left 0
        .imagens-laterais
            width 36%
            float right
            +mobile()
                width 100%
            img
                max-width 100%
                display block
                margin-top 5px
        .imagens
            width 100%
            float left
            clear both
            margin-top 40px
            clearfix()
            a
                display block
                width 19.52%
                float left
                margin-right .6%
                margin-bottom .6%
                position relative
                &:after
                    content ''
                    position absolute
                    width 100%
                    height 100%
                    top 0
                    left 0
                    background rgba($verdeClaro, .6)
                    opacity 0
                    transition opacity .3s
                &:hover:after
                    opacity 1
                img
                    width 100%
                    display block
                &:nth-child(5n)
                    margin-right 0
            +mobile()
                margin-top 25px
                a
                    width 32.933%
                    &:nth-child(5n)
                        margin-right .6%
                    &:nth-child(3n)
                        margin-right 0
