.precos
    h3
        margin-bottom 1.2em !important
    .texto
        width 100% !important
    .preco
        background #A2E4D6
        margin-bottom 20px
        clearfix()
        .texto
            clearfix()
            padding 18px
            +mobile()
                padding-bottom 0
            h4
                ubuntu 28 bold italic
                margin 0 0 .5em
                padding-bottom 5px
                border-bottom 1px solid rgba(#fff, .7)
                +mobile()
                    font-size 20px
            .left
            .right
                width 48.5%
                float left
                +mobile()
                    width 100%
            .right
                float right
                +mobile()
                    margin-top 1em
                p
                    ubuntu 12
            .subtitulo
                ubuntu 16
        .chamada
            width 100%
            float left
            clear both
            display block
            ubuntu 20 bold italic
            padding 6px 12px
            background $azul
            text-align right
            transition background .3s
            color #000
            &:hover
                background-color $verdeEscuro
            +mobile()
                font-size 18px
    .promocoes-titulo
        float left
        margin-top 1em !important
    .promocao
        background #43D1FF
        margin-bottom 20px
        min-height 250px
        position relative
        clearfix()
        .round-top
            position absolute
            width 100%
            top 0
            left 0
            height 125px
            background #fff
            &:before
                content ''
                position absolute
                top 0
                left 0
                width 100%
                height 100%
                background #43D1FF
                border-radius 125px 0 0 0
        .round-bottom
            position absolute
            width 100%
            bottom 0
            left 0
            height 125px
            background #fff
            +mobile()
                display none
            &:before
                content ''
                position absolute
                top 0
                left 0
                width 100%
                height 100%
                background #43D1FF
                border-radius 0 0 125px 125px
        .titulo
            width 250px
            height 250px
            background $azul
            border-radius 100%
            float left
            position relative
            z-index 2
            p
                display block
                margin 0
                position relative
                top 50%
                transform translateY(-50%)
                color #000
                text-transform uppercase
                text-align center
                padding 20px
                ubuntu 16
                strong
                    ubuntu 22 bold
        .descricao
            width calc('100% - 290px')
            float right
            margin 30px 0 85px
            position relative
            z-index 2
            padding-right 20px
            +mobile()
                width 100%
                padding 20px
                margin 0
