.professores
    .professores-index
    .outros-professores-thumbs
        width 100%
        display flex
        flex-wrap wrap
        font-size 0
        clearfix()
        a
            display inline-block
            background #000
            color #fff
            padding 10px 10px 32px
            width 24.2%
            margin-right 1.0667%
            margin-bottom 1.0667%
            transition background .3s, color .3s
            position relative
            vertical-align top
            &:nth-child(4n)
                margin-right 0
            +tablet()
                width 32.622%
                &:nth-child(4n)
                    margin-right 1.0667%
                &:nth-child(3n)
                    margin-right 0
            +mobile()
                width 49%
                margin-right 2%
                margin-bottom 2%
                &:nth-child(4n)
                    margin-right 2%
                &:nth-child(2n)
                    margin-right 0
            &:hover
                background $azul
                color #000
            img
                width 100%
                display block
                margin-bottom 10px
            .nome
                ubuntu 15 bold italic
                margin 0 0 3px
            .ritmos
                ubuntu 12
                text-transform uppercase
                span
                    &:after
                        content '\00b7'
                        margin 0 .3em 0 .45em
                    &:last-child:after
                        display none
            .mais
                display block
                position absolute
                bottom 0
                left 0
                width 100%
                background $verdeEscuro
                color #000
                text-align right
                padding 5px
                text-transform uppercase
                ubuntu 10
    .professores-show
        clearfix()
        .professor-informacoes
            width 27%
            float left
            margin-right 3%
            img
                padding 10px
                background #000
                width 100%
                display block
            .ritmos
                p
                    ubuntu 18
                    margin 10px 0 3px
                    text-transform uppercase
                a
                    display block
                    background $cinza
                    color #fff
                    ubuntu 14 bold italic
                    padding 4px 8px
                    margin-bottom 3px
                    text-transform uppercase
                    transition background .3s
                    &:hover
                        background darken($verdeEscuro, 20)
            +mobile()
                width 30%
                margin 0
                img
                    padding 5px
                .ritmos
                    p
                        margin 5px 0 3px
                        font-size 16px
                    a
                        font-size 13px
                        padding 4px
        .professor-texto
            width 34%
            float left
            h4
                margin 0
                ubuntu 24 bold italic
            ubuntu 14
            color $cinza
            line-height 1.5
            p:first-child
                margin-top 0
            p:last-child
                margin-bottom 0
            +mobile()
                width 65%
                float right
                h4
                    font-size 18px
        .professor-videos
            width 31.5%
            float right
            a
                display block
                img
                    width 100%
                    display block
                    margin-bottom 10px
                position relative
                &:after
                    content ''
                    position absolute
                    width 100%
                    height 100%
                    top 0
                    left 0
                    background rgba($verdeClaro, .6)
                    opacity 0
                    transition opacity .3s
                &:hover:after
                    opacity 1
            +mobile()
                width 100%
                margin-top 20px
    .imagens
        margin-top 20px !important
        +mobile()
            margin-top 10px !important
    .outros-professores
        clear both
        width 100%
        margin-top 30px
        padding 25px 0
        float left
        background $cinza
        h3
            color #fff
            text-align center
            ubuntu 24 light
            margin 0 0 .5em
        .outros-professores-thumbs
            a
                padding 6px 6px 30px
                width 15.833%
                margin-right 1%
                margin-bottom 1%
                &:nth-child(4n)
                    margin-right 1%
                &:nth-child(6n)
                    margin-right 0
                +mobile()
                    width 32.667%
                    &:nth-child(3n)
                        margin-right 0
                img
                    margin-bottom 6px
                .nome
                    font-size 14px
                .ritmos
                    font-size 11px
                .mais
                    font-size 8px
