.ritmos
    .ritmos-list
        width 31.5%
        float left
        a
            display block
            margin-bottom 2px
            ubuntu 14 bold
            color #000
            background $verdeEscuro
            padding 6px 18px
            padding-right 32px
            transition background .3s, color .3s
            &:nth-child(3n-1)
                background $azul
            &:nth-child(3n-2)
                background $verdeClaro
            &:hover
            &.active
                background-color #000
                color $verdeClaro
            &.active
                position relative
                &:after
                    content ''
                    position absolute
                    height 100%
                    width 15px
                    background $img('seta-mais-w.png') no-repeat center
                    top 0
                    right 10px
        +mobile()
            width 100%
            font-size 0
            a
                display inline-block
                margin-right 2px
                font-size 13px
                padding 8px !important
                &.active:after
                    display none
    .texto
        width 63.1% !important
        float right !important
        +mobile()
            width 100% !important
            margin-top 20px
        h2
            ubuntu 48 bold
            margin -.15em 0 0
            line-height 1.1
            +mobile()
                font-size 28px
                margin 0
        .ritmo-professores
            margin-top 30px
            background #CCCCCC
            padding 20px
            +mobile()
                margin-top 20px
            p
                margin 0
                ubuntu 18 normal italic
                color #000
                text-transform uppercase
            +mobile()
                padding 15px
                p
                    font-size 16px
            > div
                font-size 0
                clearfix()
            a
                display inline-block
                width 23.875%
                margin-right 1.5%
                margin-top 2%
                vertical-align top
                &:nth-child(4n)
                    margin-right 0
                +below($tablet)
                    width 49.25%
                    margin-top 3%
                    &:nth-child(2n)
                        margin-right 0
                img
                    width 100%
                    margin 0
                    display block
                .mais
                    background #666666
                    ubuntu 10
                    color #fff
                    text-align right
                    display block
                    text-transform uppercase
                    padding 4px 8px
                    transition background .3s, color .3s
                .nome
                    display block
                    margin-top 5px
                    ubuntu 14 bold italic
                    color #000
                    transition color .3s
                &:hover
                    .mais
                        background $verdeClaro
                        color #000
                    .nome
                        color darken($verdeEscuro, 30)
    .ritmos-contato
        width 100%
        clearfix()
        clear both
        margin-top 30px
        float left
        .chamada-grade
            display block
            float left
            width 250px
            height 250px
            background #6BB9AB
            border-radius 100%
            padding 20px
            text-align center
            color #fff
            transition background .3s, color .3s
            text-transform uppercase
            ubuntu 15
            &:hover
                background #000
            > div
                position relative
                top 50%
                transform translateY(-50%)
            span
                display block
                ubuntu 22 bold
        .contato-formulario
            clear none
            float right
            width calc('100% - 320px')
            margin-top 20px
            +tablet()
                width calc('100% - 300px')
                .left
                .right
                    width 100%
            +mobile()
                width 100%
                margin-top 0
                margin-bottom 25px
    .ritmo-videos
        clear both
        margin-top 20px
        float left
        background #71D6C0
        padding 20px
        width 100%
        +mobile()
            margin-top 0
            padding 15px
        clearfix()
        p
            ubuntu 18 normal italic
            color #000
            margin 0 0 15px
            text-transform uppercase
        .video-principal
            width 75%
            float left
            +mobile()
                width 100%
                margin-bottom 2%
            .embed-video
                position relative
                padding-bottom 56.25%
                height 0
                overflow hidden
                max-width 100%
                iframe
                    position absolute
                    top 0
                    left 0
                    width 100%
                    height 100%
        .videos-thumbs
            width 23%
            float right
            a
                position relative
                display block
                margin-bottom 7.5%
                &:last-child
                    margin 0
                &:after
                    content ''
                    position absolute
                    width 100%
                    height 100%
                    top 0
                    left 0
                    background rgba(#000, .6)
                    opacity 0
                    transition opacity .3s
                &:hover:after
                    opacity 1
                img
                    width 100%
                    display block
            +mobile()
                width 100%
                a
                    width 32%
                    float left
                    margin-bottom 0
                    margin-right 2%
