.turmas-e-aulas
    .texto
        width 100% !important
    .aviso
        padding 10px 0
        border-bottom 1px solid $azul
        +mobile()
            padding 16px 0
        clearfix()
        &:first-child
            padding-top 0
        .data
            float left
            height 60px
            div
                float left
                height 100%
                background #000
                margin-right 4px
                color #fff
                text-align center
            .dia
                ubuntu 36 bold
                line-height 60px
                width 70px
            .mes-ano
                line-height 1.1
                width 80px
                padding-top 11px
                .mes
                    ubuntu 20 bold
                    text-transform uppercase
                .ano
                    ubuntu 14 bold
                    display block
            .semana
                ubuntu 11 bold
                line-height 60px
                width 70px
        .descricao
            width calc('100% - 252px')
            float right
            padding 18px 0
            +mobile()
                padding-top 10px
                padding-bottom 6px
                width 100%
