.videos-e-fotos
    .videos-e-fotos-filtros
        width 100%
        margin-bottom 20px
        clearfix()
        .ritmo
            background #E6E6E6
            border 1px solid $azul
            width 64%
            height 32px
            float left
            position relative
            label
                line-height 32px
                ubuntu 16 bold italic
                padding-left 8px
            select
                position absolute
                top 0
                right 0
                bottom 0
                border 0
                outline 0
                width 250px
                background $azul
                -webkit-appearance menulist-button
                line-height 30px
                ubuntu 14 normal italic
            +below($tablet)
                width 49%
                border none
                background transparent
                label
                    display none
                select
                    left 0
                    width 100%
            +mobile()
                width 100%
                margin-bottom 5px
        .busca
            width 32.9%
            height 32px
            float right
            position relative
            +tablet()
                width 49%
            +mobile()
                width 100%
            form
            form input
                position absolute
                width 100%
                height 100%
                top 0
                left 0
            form
                input
                    border 0
                    outline 0
                    background transparent
                    padding 0 50px 0 8px
                    ubuntu 16 normal italic
                    +placeholder()
                        color #000
                    &[type='submit']
                        width 40px
                        height 100%
                        right 0
                        left auto
                        top 0
                        text-indent -9999px
                        background $img('lupa.png') no-repeat center transparent
                        padding 0
                        outline 0
                        border 0
            background #E6E6E6
            border 1px solid $azul
    .videos-e-fotos-index
        width 100%
        display flex
        flex-wrap wrap
        font-size 0
        clearfix()
        a
            display inline-block
            transition background .3s
            position relative
            vertical-align top
            width 32.9%
            margin-right .65%
            margin-bottom .65%
            padding 13px
            background #E6E6E6
            +tablet()
                padding 8px
            &:nth-child(3n)
                margin-right 0
            +mobile()
                width 49.675%
                &:nth-child(3n)
                    margin-right .65%
                &:nth-child(2n)
                    margin-right 0
            &:hover
                background $azul
            img
                width 100%
                display block
                margin-bottom 10px
            p
                display block
                background $img('seta-mais.png') no-repeat right 8px
                margin 0
                padding-left 6px
                padding-right 30px
                ubuntu 16 normal italic
                span
                    display block
                    font-size 11px
    .videos-e-fotos-show
        h3
            margin-top 0
            ubuntu 24 light italic
            color #808080
            +mobile()
                font-size 20px
            span
                display block
                margin-top 3px
                ubuntu 12 normal italic
        .videos
            margin-bottom 22px
            border-bottom 2px solid $verdeClaro
            padding-bottom 20px
        .video-principal
            background #E6E6E6
            padding 18px 13%
            +below($tablet)
                padding 15px
            .embed-video
                position relative
                padding-bottom 56.25%
                height 0
                overflow hidden
                max-width 100%
                iframe
                    position absolute
                    top 0
                    left 0
                    width 100%
                    height 100%
            span
                display block
                ubuntu 16 light italic
                color #808080
                margin-top 10px
        .videos-thumbs
            display flex
            flex-wrap wrap
            font-size 0
            width 100%
            clearfix()
            a
                display inline-block
                transition background .3s
                position relative
                vertical-align top
                width 32%
                margin-right 2%
                margin-top 2%
                &:nth-child(3n)
                    margin-right 0
                +mobile()
                    width 49%
                    margin-top 3%
                    &:nth-child(3n)
                        margin-right 2%
                    &:nth-child(2n)
                        margin-right 0
                .imagem
                    position relative
                    img
                        width 100%
                        display block
                        margin-bottom 6px
                    &:after
                        content ''
                        position absolute
                        width 100%
                        height 100%
                        top 0
                        left 0
                        background rgba($verdeClaro, .6)
                        opacity 0
                        transition opacity .3s
                span
                    ubuntu 14 normal italic
                    color #808080
                    transition color .3s
                &:hover
                    .imagem:after
                        opacity 1
                    span
                        color darken($verdeEscuro, 20)
        .imagens-masonry
            width 100%
            .thumb-masonry
                position relative
                display block
                margin-bottom 1%
                &:after
                    content ''
                    position absolute
                    width 100%
                    height 100%
                    top 0
                    left 0
                    background rgba($verdeClaro, .6)
                    opacity 0
                    transition opacity .3s
                &:hover:after
                    opacity 1
                img
                    display block
                    width 100%
                    height auto
            .thumb-masonry
            .grid-sizer
                width 32.6667%
                +below($tablet)
                    width 49.5%
            .gutter-sizer
                width 1%
    .voltar
        display inline-block
        margin-top 22px
        background $img('seta-voltar.png') no-repeat 14px center $azul
        padding 6px 20px 6px 36px
        ubuntu 12 bold
        color #000
        transition background .3s
        &:hover
            background-color $verdeClaro
