footer
    border-top 3px solid #000
    padding 15px 0 25px
    .center
        clearfix()
    .footer-links
        float left
        width 75%
        +below($tablet)
            display none
        .col
            float left
            margin-right 40px
            border-left 1px solid #B3B3B3
            padding 5px 0 5px 10px
            a
                display block
                ubuntu 14
                color lighten(#686868, 5)
                padding-left 1.1em
                &:before
                    content '\00b7'
                    margin-right .4em
                &:hover
                    color #000
                &.link-header
                    font-weight 700
                    margin-top 1em
                    padding-left 0
                    &:before
                        content ''
                &:first-child
                    margin-top 0
            &.col-ritmos
                > a
                    padding-left 18px
                    position relative
                    ubuntu 12
                    margin-bottom 5px
                    transition padding .3s, color .3s
                    &:hover
                        padding-left 20px
                    &:before
                        content ''
                        position absolute
                        width 12px
                        height 100%
                        background $img('seta-rodape.png') no-repeat center left
                        top 0
                        left 0
    .footer-info
        float right
        width 25%
        +below($tablet)
            width 100%
            text-align center
            img
                max-width 60%
        img
            display inline-block
            margin 15px 0 0
        .telefones
            margin 20px 0
            p
                ubuntu 20
                margin 0
                span
                    ubuntu 14
        > p
            ubuntu 11
            a:hover
                text-decoration underline
