header
    width 100%
    height 110px
    z-index 102
    +mobile()
        height 80px
    .center
        clearfix()
        padding 20px 0
        height 100%
        +mobile()
            padding 0
    .logo
        width 220px
        height 70px
        display block
        text-indent -9999px
        float left
        background $img('marca-solum-preto.png') no-repeat center
        background-size 100% auto
        +mobile()
            width 180px
            height 100%
    .telefones
        display none
    .social
        position absolute
        height 16px
        right 0
        top 10px
        clearfix()
        +below($tablet)
            right 60px
            top 50%
            margin-top -8px
        +mobile()
            right 50px
        a
            display block
            float left
            width 16px
            height 16px
            margin-left 4px
            &.facebook
                background $img('facebook.png') no-repeat center
            &.youtube
                background $img('youtube.png') no-repeat center
    #nav-desktop
        max-width 950px
        float right
        position relative
        margin-top 15px
        +below($tablet)
            display none
        ul
            list-style-type none
            padding 0
            margin 0
            display block
            width 100%
            clearfix()
        > ul
            > li
                display block
                float left
                padding 0
                position relative
                &:hover
                    ul
                        display block
                    > a
                        background $verdeClaro
                        color #000
                &:last-child > a:after
                    display none
                > a
                    display block
                    background #000
                    ubuntu 14
                    color #fff
                    text-transform uppercase
                    height 40px
                    line-height 40px
                    transition color .3s, background .3s
                    padding 0 19px
                    position relative
                    &:after
                        content ''
                        height 30px
                        width 1px
                        position absolute
                        top 6px
                        right 0
                        background rgba(#fff, .3)
                        opacity 1
                        transition opacity .3s
                    &.active
                        background $verdeClaro
                        color #000
                        &:after
                            opacity 0
        ul ul
            display none
            position absolute
            top 40px
            width auto
            min-width 100%
            z-index 102
            left 0
            background #000
            > li
                &:first-child a
                    padding-top 10px
                &:last-child a
                    padding-bottom 10px
                a
                    white-space nowrap
                    display block
                    background #000
                    color $verdeClaro
                    ubuntu 12
                    padding 3px 19px
                    &:hover
                    &.active
                        color #fff
    #mobile-toggle
        +above($tablet)
            display none
        display block
        background-color transparent
        border 0
        position relative
        float right
        height 100%
        width 30px
        outline 0
        padding 0
        .lines
            display block
            width 100%
            height 4px
            background darken($verdeEscuro, 10)
            position relative
            transition .3s ease
            border-radius 2px
            &:before
            &:after
                content ""
                display block
                position absolute
                left 0
                width 100%
                height 4px
                border-radius 2px
                background darken($verdeEscuro, 10)
                transition .3s ease
            &:before
                top 8px
            &:after
                top -8px
        &.close
            .lines
                background transparent
                &:before
                &:after
                    transform-origin 50% 50%
                    top 0
                &:before
                    transform rotate3d(0,0,1,45deg)
                &:after
                    transform rotate3d(0,0,1,-45deg)
    #nav-mobile
        +above($tablet)
            display none !important
        display none
        background $cinza
        position absolute
        top 110px
        +mobile()
            top 80px
        left 0
        width 100%
        z-index 9999
        padding 18px 0
        border-bottom 4px solid darken($cinza, 5)
        ul
            list-style-type none
            padding 0
            display block
            margin 0 auto
            text-align center
            > li
                > a
                    display block
                    margin 8px 0
                    ubuntu 15
                    color #fff
                    text-transform uppercase
                    transition background .3s, padding .3s, color .3s, margin .3s
                    &.active
                        color $verdeClaro
                    &.open
                        background darken($cinza, 5)
                        padding 10px 0
                        margin 14px 0 0
        ul ul
            display none
            background lighten($cinza, 5)
            margin 0 0 20px
            padding 6px 0
            a
                text-transform none
                ubuntu 14
                margin 6px 0

+above($tablet)
    .home
        position relative
        &:before
            content ''
            position absolute
            top 0
            width 100%
            z-index -1
            background $cinza
            height 270px
    .home header
        height 154px
        position absolute
        top 0
        left 0
        .center
            background rgba(#6CB6A6, .9)
            padding 54px 0 16px
        .logo
            width 279px
            height 84px
            margin-left 145px
            background-image $img('marca-solum-branco.png')
        .social
            right 145px
            top 65px
        .telefones
            display block
            position absolute
            right 215px
            bottom 12px
            font-size 0
            text-align right
            p
                display block
                color #fff
                margin 0
                ubuntu 14
                line-height 1.1
                span
                    ubuntu 11
        #nav-desktop
            margin 0
            position absolute
            top 0
            max-width none
            width 100%
            float none
            > ul
                width 100%
                font-size 0
                text-align center
                li
                    display inline-block
                    float none
            li
                text-align left
