.main
    margin 20px 0 55px
    +mobile()
        margin 20px 0 30px

.fancybox-overlay
    background rgba(darken($verdeEscuro, 35), .9) !important

.fancybox-skin
    box-shadow none !important
    border-radius 0 !important
